beets
click
diskcache
loguru
notifiers
unidecode
yarl
deluge-client==1.3.0
illallangi.torrentapi @ git+https://github.com/illallangi/TorrentAPI@master
illallangi.orpheusapi @ git+https://github.com/illallangi/OrpheusAPI@master
illallangi.redactedapi @ git+https://github.com/illallangi/RedactedAPI@master